<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo">
        <a routerLink="home">{{ _servicio.info.titulo }}</a>
      </h1>
      <nav class="rk-navigation">

        <ul class="rk-menu">
            <li routerLinkActive="active" class="rk-menu__item">
                <a routerLink="producto" class="rk-menu__link">Home</a>
              </li>



          <li routerLinkActive="active"  class="rk-menu__item">
            <a routerLink="home" class="rk-menu__link">Productos</a>
          </li>


         
        
          <li routerLinkActive="active"
          *ngIf = "auth.isAuthenticated();"
          class="rk-menu__item">
            <a routerLink="protegida" class="rk-menu__link">Protegida</a>
          </li>

          
          <li routerLinkActive="active" class="rk-menu__item">
              <a routerLink="contacto" class="rk-menu__link">contacto</a>
            </li>
          
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="about" class="rk-menu__link">About</a>
          </li>
        </ul>

        <div class="rk-search">
            <input type="text"
                   (keyup.enter)="buscarProducto( txtBuscar.value )"
                   placeholder="Buscar..."
                   id="urku-search"
                   class="rk-search-field"
                   #txtBuscar> 

          <label for="urku-search">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-search"></use>
            </svg>
          </label>
        </div>


        <span class="navbar-text">
        <button (click)="login()"
        *ngIf = "!auth.isAuthenticated();"
                 type="button"
                class="btn btn-outline-primary btn-sm">Ingresar</button>

                <button (click)="salir()"
                *ngIf = "auth.isAuthenticated();"
                         type="button"
                        class="btn btn-outline-primary btn-sm">Salir</button>
                      </span>

      </nav>
    </div>
  </header>