
<section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">


  <section class="">
      <header class="">
        <div class="item-inside__meta">
            <img src="assets/img/portada.png" alt="">
          <h1 class="ae-u-bolder rk-portfolio-title ">RAICES DEL CAMPO</h1>
          <p class="ae-theta rk-portfolio-category ">PRODUCTOS NATURALES</p>
        </div>
      </header> 




  <!-- <section class="">
    <header class="">
      <div class="item-inside__meta">
          <img src="assets/img/portada.png" alt="">    
      </div>
    </header>  -->


    <div class="ae-container-fluid ae-container-fluid--inner rk-portfolio--inner">
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1">
        <div class="ae-grid__item item-lg-5 au-lg-ptp-1">
          <h4 class="ae-u-bolder">TRIGUEÑA</h4>
          <p class="ae-eta">
            Bebida 100% natural de trigo blanco, endulzada con Stevia completamente pura, 
            y con dulces toques de canela. Además es libre de químicos y preservantes.
             13 veces menos calorías que los jugos naturales envasados
              30% menos de azúcares que los jugos prensado en frío
              250% menos de sodio que los té helados envasados
              25% de la hidratación diaria que necesita tu cuerpo
              Pruébala. ¡Agítala y tómala bien fría o caliente! </p>
              <p class="ae-eta">Formato: Individual 475 ml.</p>
        </div>
              <div class="ae-grid__item item-lg-6 item-lg--offset-1">
          <img src="assets/img/triguena_producto.png" alt="Urku Portfolio">
        </div>
      </div>
  
  
  
      
      <div class="ae-grid ae-grid--collapse">
          <div class="ae-grid__item item-lg-8">
            <img src="assets/img/1234.jpg" alt="Urku Portfolio">
          </div>
          <div class="ae-grid__item item-lg-3 item-lg--offset-1 au-lg-ptp-1">
            <p class="ae-eta">TRIGUEÑA es el resultado del esfuerzo de dos jóvenes hermanos de la 
              comuna de Las Cabras, Andrés y Mariana 
              junto a su gran equipo buscan convertir sus sueños en realidad...</p>
            </div>
        </div>
  
  
  
      <div class="ae-grid ae-grid--collapse au-xs-ptp-1 au-xs-pbp-1">
        <div class="ae-grid__item item-lg-8 item-lg--offset-2">
          <h4 class="ae-u-bolder">EMPRENDEMOS</h4>
          <p class="ae-eta">A lo largo de su vida han estado trabajando en el rescate de costumbres, bebidas y alimentos tradicionales del campo chileno, fue así que descubrieron cómo reformular los conceptos conocidos para incorporarlos al mundo actual. Apasionados por su idea decidieron innovar junto al apoyo de CORFO, el camino no ha sido fácil, pero luego de una larga aventura encontraron la receta perfecta de trigo blanco con dulces toques de canela y estevia , para así elaborar la primera bebida de trigo 100% natural, libre de gluten y preservantes.
              </p>
          <p class="ae-eta">¿Qué esperas para probar tu primera TRIGUEÑA y empaparte de su sabor 
            y propiedades naturales? </p>
            <p class="ae-eta">Te damos la bienvenida al fantástico mundo natural de TRIGUEÑA.</p>
        </div>
      
      
      <div class="ae-grid ae-grid--collapse">
        <div class="ae-grid__item item-lg--auto">
          <img src="assets/img/portada2.png" alt="Urku Portfolio"></div>
      </div>
  
  
      </div>
    </div>


    

</section>
